#projects {
    background-color: #060f35;
    width: 100%;
    height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.header-section {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    color: white;
    justify-content: flex-start;
}