$back-color:#060f35;

%header {
    display: flex;
    width: 100vw;
    margin: auto;
    color: white;
    justify-content: flex-start;
}

#about {
    background-color: $back-color;
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}


/* Anidamiento */
.container-about {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    /* Herencia */
    .header-section {
        @extend %header;
    }

    /*.header-section {
        display: flex;
        width: 100vw;
        margin: auto;
        color: white;
        justify-content: flex-start;
    }*/

    .img-section {
        padding-right: 5%;
    }

    .img-section > .profile-image {
        max-width: 400px;
        box-shadow: 6px 13px 20px -5px rgba(0, 0, 0, 0.46);
    }

    .about-text, p{
        max-width: 500px;
        color: #9ba4ce;
    }
    
    .about-content {
        padding-bottom: 30px;
    }
    
    .social-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    
    .social-links > a {
        margin: 5px;
    }

}