#about {
    background-color: #060f35;
    background-position: center;
    background-size: cover;
    height: 95vh;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.navbar-brand {
    margin-left: 17px;
}

.header-section {
    display: flex;
    width: 100vw;
    margin: auto;
    color: white;
    justify-content: flex-start;
}

.container-about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-section {
    padding-right: 5%;
}

.img-section > .profile-image {
    max-width: 400px;
    box-shadow: 6px 13px 20px -5px rgba(0, 0, 0, 0.46);
}

.about-text, p{
    max-width: 500px;
    color: #9ba4ce;
}

.about-content {
    padding-bottom: 30px;
}

.social-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.social-links > a {
    margin: 5px;
}

/* 2 selectores */